<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCU Campus Eats | 個人資料</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customers/view_pf.css') }}">
</head>
<body>
    <!-- 頂部導航欄 -->
    <header class="navbar">
        <!-- 左側LOGO和標題 -->
        <a href="{{ url_for('menus.view_store') }}" class="logo">
            <img src="{{ url_for('static', filename='images/NCUlogo.png') }}" alt="LOGO">
            <span>NCU Campus Eats | 個人資料</span>
        </a>

        <!-- 右側按鈕與下拉選單 -->
        <div class="menu">
            <a href="{{ url_for('customers.view_cart') }}">
                <button class="cart-button">
                    <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Cart">
                </button>
            </a>
            <div class="dropdown">
                <img src="{{ url_for('static',filename='images/customer.png') }}" alt="Photo"> <!-- 替換為使用者Icon的URL -->
                <span>{{ customer_name }}</span>
                <div class="dropdown-menu">
                    <a href="{{ url_for('customers.view_order') }}">歷史訂單</a>
                    <a href="{{ url_for('customers.view_pf') }}">修改個人資料</a>
                    <a href="{{ url_for('auth.logout') }}">登出</a>
                </div>
            </div>
        </div>

    </header>

    <div class="container">
        <h2>修改個人資訊</h2>
        <form action="{{ url_for('customers.edit_profile') }}" method="post" onsubmit="return confirmEditProfile()">
            <label for="name">姓名：</label>
            <input type="text" id="name" name="name" value="{{ customer_pf['name'] }}" required>
    
            <label for="phone">電話：</label>
            <input type="text" id="phone" name="phone" value="{{ customer_pf['phone'] }}" required>
    
            <label for="email">電子郵件：</label>
            <input type="email" id="email" name="email" value="{{ customer_pf['email'] }}" required>
    
            <button type="submit" class="btn-submit">修改</button>
        </form>
    </div>
    
    <script>
        // 確認修改個人資料的函數
        function confirmEditProfile() {
            return confirm("您確定要修改您的個人資料嗎？");
        }
    </script>

</body>
</html>