<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCU Campus Eats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customers/view_store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customers/navbar.css') }}">
</head>
<body>
    <!-- 頂部導航欄 -->
    <header class="navbar">
        <!-- 左側LOGO和標題 -->
        <a href="{{ url_for('menus.view_store') }}" class="logo">
            <img src="{{ url_for('static', filename='images/NCUlogo.png') }}" alt="LOGO">
            <span>NCU Campus Eats | 餐廳資訊</span>
        </a>

        <!-- 右側按鈕與下拉選單 -->
        <div class="menu">
            <a href="{{ url_for('customers.view_cart') }}">
                <button class="cart-button" >
                    <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Cart">
                </button>
            </a>
            <div class="dropdown">
                <img src="{{ url_for('static',filename='images/customer.png') }}" alt="Photo"> <!-- 替換為店家Icon的URL -->
                <span>{{ customer_name }}</span>
                <div class="dropdown-menu">
                    <a href="{{ url_for('customers.view_order') }}">歷史訂單</a>
                    <a href="{{ url_for('customers.view_pf') }}">修改個人資料</a>
                    <a href="{{ url_for('auth.logout') }}">登出</a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <h1>店家列表</h1>
        <div class="menu-grid">
            {% for restaurant in openedRestaurants %}
                <a href="{{ url_for('menus.view_menu', restaurant_id = restaurant.restaurant_id) }}" class="menu-link">
                    <div class="menu-item">
                        <h3>{{ restaurant.restaurant_name }}</h3>
                        <p>{{ restaurant.phone }}</p>
                        <p>{{ restaurant.address }}</p>
                        {% if restaurant.icon %}
                        <img src="{{ url_for('static', filename=restaurant.icon) }}" alt="店家圖片">
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
