
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
    <h1>選擇角色登入</h1>
    <hr/>
    <form>
        <!-- 教職員生登入 -->
        <div>
            <a href="{{ url_for('customers.portal') }}" class="button">教職員生登入(Portal)</a>
        </div>

        <!-- 訪客/店家登入 -->
        <div>
            帳號：<input type="text" >
            密碼：<input type="password">
            <input type="button" value="登入">
            <input type="button" value="註冊">
        </div>

        <!-- 註冊 -->
        <div>
            帳號：<input type="text" >
            密碼：<input type="password">
            確認密碼：<input type="password">
            <input type="button" value="註冊">
        </div>

    </form>

    
</body>
</html>
