<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@3.4.5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body>
    <h1>登入</h1>
    <hr/>
    <div id="main">
        <div v-if="UI==='main'">
            <h1>登入</h1>
            帳號: <input type="text" v-model="acc"/> <br/>
            密碼: <input type="text" v-model="pwd" /> <br/><br/>
            <button @click="logIn">登入</button> <button @click="signUp">註冊</button>
                
        </div>
        
        <div v-if="UI==='newAccount-1'">
            <h1>註冊</h1>
            角色:
            <select v-model="selectedRole">
                <option value="0">教職員生</option>
                <option value="0">校外人士(訪客)</option>
                <option value="1">店家</option>
            </select> <br/><br/>
            <button @click="nextStep">下一步</button>
        </div>

        <div v-if="UI==='newAccount-2'">
            <div v-if="selectedRole === '0'">
                <!-- 顧客註冊表單 -->
                <h1>建立一個新的顧客帳號</h1>
                帳號: <input type="text" v-model="newClient.account"/> <br/>
                密碼: <input type="text" v-model="newClient.password" /> <br/>
                姓名: <input type="text" v-model="newClient.ClinetName"/> <br/>
                住址: <input type="text" v-model="newClient.ClinetAddress"/> <br/>
                <br/><button @click="back">返回</button> <button @click="newAccount(newClient)">確認申請</button>
            </div>
            <div v-else-if="selectedRole === '1'">
                <!-- 店家註冊表單 -->
                <h1>建立一個新的商家帳號</h1>
                帳號: <input type="text" v-model="newShop.account"/> <br/>
                密碼: <input type="text" v-model="newShop.password" /> <br/>
                姓名: <input type="text" v-model="newShop.ShopName"/> <br/>
                <br/><button @click="back">返回</button> <button @click="newAccount(newShop)">確認申請</button>
            </div>
            
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    selectedRole: '',
                    acc: '',
                    pwd: '',
                    newClient: {
                        role: '0',
                        account: '',
                        password: '',
                        ClinetName: '',
                        ClinetAddress: ''
                    },
                    newShop: {
                        role: '1',
                        account: '',
                        password: '',
                        ShopName: ''
                    }
                };
            },
            methods: {
                logIn() {
                    const mydat = new FormData();
                    mydat.append("acc", this.acc);
                    mydat.append("pwd", this.pwd);

                    const url = "/login";
                    fetch(url, {
                        method: 'POST',
                        body: mydat
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data === -1) {
                            alert('登入失敗，請檢查帳號密碼。');
                        } else {
                            alert('登入成功！');
                            Cookies.set('userInfo', JSON.stringify(data), { expires: 1 });
                            if (data.role === 0)
                                window.location.href = 'c_01.main.html';
                            else if (data.role === 1)
                                window.location.href = 's_01.main.html';
                        }
                    });
                },
                signUp() {
                    this.setUI('newAccount-1');
                },
                setUI(page) {
                    this.UI = page;
                },
                nextStep() {
                    if (this.selectedRole === '')
                        alert("請選擇要申請的角色！");
                    else
                        this.setUI('newAccount-2');
                },
                back() {
                    this.setUI('main');
                },
                newAccount() {
                    const mydat = new FormData();

                    if (this.selectedRole === '0') {
                        mydat.append("acc", this.newClient.account);
                        mydat.append("pwd", this.newClient.password);
                        mydat.append("name", this.newClient.ClinetName);
                        mydat.append("addr", this.newClient.ClinetAddress);
                    } else {
                        mydat.append("acc", this.newShop.account);
                        mydat.append("pwd", this.newShop.password);
                        mydat.append("name", this.newShop.ShopName);
                    }

                    const url = "/newAccount?role=" + this.selectedRole;

                    fetch(url, {
                        method: 'POST',
                        body: mydat
                    })
                    .then(res => res.text())
                    .then(data => {
                        alert("成功新建帳號！");
                        this.back();
                    });
                }
            },
        }).mount("#main");
    </script>
</body>
</html>
